!!!
%html
  %head
    %title Cablage - CMS
    = csrf_meta_tags
    %meta{:charset => 'UTF-8'}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %meta{:content => 'Cablage CMS Services', :property => 'og:title'}
    %meta{:content => 'Cablage CMS Services 24/7 - Spécialiste dans le câblage de cartes électroniques de haute technologie en délai très court sur 24/7', :property => 'og:description'}
    %meta{:content => 'Cablage CMS Services', :name => 'title', :itemprop => 'name'}
    %meta{:content => 'Cablage CMS Services 24/7 - Spécialiste dans le câblage de cartes électroniques de haute technologie en délai très court sur 24/7', :name => 'description'}
    %link{:rel => 'canonical', href: root_url, :itemprop => 'url'}
    %meta{:content => "prototype, Carte CMS, Cablage CMS, composants électroniques soudés, soudure composants, composant BGA, câblage, cable,
    carte électronique, conception carte CMS,
    carte traversant, assemblage, intégration, filaire, contrôle carte cms, test carte cms, rayons x cartes électroniques,
    composants électroniques, circuits imprimés, méthode, conception, étude,
    routage, dessoudage, soudage, carte,
    compact flash memory cards, ingenierie, ingenieur, bureaux d'etudes, machines", :name => "KEYWORDS"}/

    = stylesheet_link_tag    'application', media: 'all'
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = javascript_include_tag 'application'
    =render "layouts/ga_script"
    %script{:src => "//maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"}
    %link{:href => asset_path('favicon.ico'), :rel => "icon", :type => "image/x-icon"}/
    = csrf_meta_tags
  %body
    = yield
    =render 'layouts/footer'
    =render 'layouts/social_share'
